<a href="https://colab.research.google.com/github/taufiq20229001/Python/blob/main/Assignment_01_Taufiq_260323.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Md Taufiq us Samad Tonmoy
**ID: 20229001**

1. Write a Python program to count the number of characters (character frequency) in a string. Sample String : google.com Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
string = "facebook.com"
char_freq = {}

for char in string:
    if char in char_freq:
        char_freq[char] += 1
    else:
        char_freq[char] = 1

print(char_freq)

{'f': 1, 'a': 1, 'c': 2, 'e': 1, 'b': 1, 'o': 3, 'k': 1, '.': 1, 'm': 1}

2. Write a Python program to check if a given key already exists in a dictionary.

In [ ]:
# Sample dictionary
my_dict = {'name': 'Pinky', 'age': 22, 'gender': 'Female'}

# Key to check
key = 'name'

# Check if key exists in the dictionary
if key in my_dict:
    print(f"The key '{key}' already exists in the dictionary.")
else:
    print(f"The key '{key}' does not exist in the dictionary.")

The key 'name' already exists in the dictionary.

3. Write a Python program that accepts a sequence of comma-separated numbers from the user and generates a list and a tuple of those numbers. Sample data : 1, 5, 7, 23 Expected Output : List : ['1', ' 5', ' 7', ' 23'] Tuple : ('1', ' 5', ' 7', ' 23â€™)

In [ ]:
# Accept comma-separated input from the user
input_str = input("Enter comma-separated numbers: ")

# Split the input string into a list of numbers
num_list = input_str.split(",")

# Create a tuple of the same numbers
num_tuple = tuple(num_list)

# Print the list and tuple
print(f"List: {num_list}")
print(f"Tuple: {num_tuple}")

Enter comma-separated numbers: 11, 25, 7
List: ['11', ' 25', ' 7']
Tuple: ('11', ' 25', ' 7')

4. Write a Python program to calculate the number of days between two dates. Sample dates : (2014, 7, 2), (2014, 7, 11) Expected output : 9 days

In [ ]:
from datetime import date

# Define the two dates as tuples
date1 = date(2022, 6, 3)
date2 = date(2022, 6, 11)

# Calculate the difference between the two dates
delta = date2 - date1

# Print the number of days
print(f"{delta.days} days")

8 days

5. Write a Python program to solve (x + y) * (x + y). Test Data : x = 4, y = 3 Expected Output : ((4+3) ^ 2) = 49.

In [ ]:
# Define the values of x and y
x = 5
y = 2

# Evaluate the expression (x + y) * (x + y)
result = (x + y) * (x + y)

# Print the result
print(f"({x} + {y}) ^ 2 = {result}")

(5 + 2) ^ 2 = 49

6. Write a Python program to compute the future value of a specified principal amount, rate of interest, and number of years. Test Data : amt = 10000, int = 3.5, years = 7 Expected Output : 12722

In [ ]:
# Define the principal amount, rate of interest, and number of years
amt = 10000
int_rate = 3.5
years = 7

# Calculate the future value using the formula: FV = PV * (1 + r/100)^n
fv = amt * (1 + int_rate/100)**years

# Print the future value
print(f"Future value: {round(fv, 2)}")

Future value: 12722.79

7. Write a Python program that removes duplicate elements from a given array of numbers so that each element appears only once and returns the new length of the array. Sample Input: [0,0,1,1,2,2,3,3,4,4,4] Sample Output: The list of unique numbers: [0,1,2,3,4] length of the unique list : 5

In [ ]:
# Define the input array
arr = [0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 4, 5, 5, 5, 5, 6]

# Create a set from the input array to remove duplicates
unique_set = set(arr)

# Convert the set back to a list to preserve the order of the elements
unique_list = list(unique_set)

# Print the list of unique numbers and its length
print(f"The list of unique numbers: {unique_list}")
print(f"Length of the unique list: {len(unique_list)}")

The list of unique numbers: [0, 1, 2, 3, 4, 5, 6]
Length of the unique list: 7

8. Write a Python program to sort (ascending and descending) a dictionary by key value.

In [ ]:
# Define the input dictionary
my_dict = {'apple': 3, 'banana': 2, 'orange': 1, 'pear': 0}

# Sort the dictionary by key in ascending order
sorted_dict_desc = dict(sorted(my_dict.items()))

# Sort the dictionary by key in descending order
sorted_dict_asc = dict(sorted(my_dict.items(), reverse=True))

# Print the sorted dictionaries
print("Sorted dictionary by key in ascending order:", sorted_dict_asc)
print("Sorted dictionary by key in descending order:", sorted_dict_desc)

Sorted dictionary by key in ascending order: {'pear': 0, 'orange': 1, 'banana': 2, 'apple': 3}
Sorted dictionary by key in descending order: {'apple': 3, 'banana': 2, 'orange': 1, 'pear': 0}

9. Write a Python program to add key to a dictionary. Go to the editor Sample Dictionary : {0: 10, 1: 20} Expected Result : {0: 10, 1: 20, 2: 30}

In [ ]:
# Define the input dictionary
my_dict = {0: 10, 1: 20}

# Add a new key-value pair to the dictionary
my_dict[2] = 30
my_dict[3] = 40

# Print the updated dictionary
print("Updated dictionary:", my_dict)

Updated dictionary: {0: 10, 1: 20, 2: 30, 3: 40}

10. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels. Sample Python dictionary data and list labels: exam_data = {'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'], 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i',â€™jâ€™]

In [ ]:
import pandas as pd
import numpy as np

# Define the dictionary data
exam_data = {'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

# Define the index labels
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Create the DataFrame
df = pd.DataFrame(exam_data, index=labels)

# Display the DataFrame
print(df)

     name  score  attempts qualify
a    Arif   12.5         1     yes
b    Asir    9.0         3      no
c    Arik   16.5         2     yes
d    Anis    NaN         3      no
e    Anil    9.0         2      no
f  Ashish   20.0         3     yes
g   Anahi   14.5         1     yes
h    Alia    NaN         1      no
i   Alvin    8.0         2      no
j    Asim   19.0         1     yes